
@model List<OrderItemViewModel>


@section Styles{

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/colors.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/components.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/data-list-view.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/custom-rtl.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style-rtl.css">
    <!-- END: Custom CSS-->

}




<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-left mb-0">جزئیات سفارش</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Data list view starts -->
            <section id="data-thumb-view" class="data-thumb-view-header">
                <div class="action-btns d-none">
                    <div class="btn-dropdown mr-1 mb-1">
                        <div class="btn-group dropdown actions-dropodown">
                            <button type="button" class="btn btn-white px-1 py-1 dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i class="feather icon-trash"></i>Delete</a>
                                <a class="dropdown-item" href="#"><i class="feather icon-archive"></i>Archive</a>
                                <a class="dropdown-item" href="#"><i class="feather icon-file"></i>Print</a>
                                <a class="dropdown-item" href="#"><i class="feather icon-save"></i>Another Action</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dataTable starts -->
                <div class="table-responsive">
                    <table class="table data-thumb-view">
                        <thead>
                            <tr>
                                <th></th>
                                <th>تصویر محصول</th>
                                <th>نام کالا</th>
                                <th>برند</th>
                                <th>امتیاز</th>
                                <th>وضعیت </th>
                                <th>تعداد</th>
                                <th>مبلغ واحد</th>
                                <th>مبلغ کل</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                string imgName = item.ProductCode + ".jpg";
                                string ChipType;
                                string ChipText;
                                string progressBarClass;
                                int ProgresPercent = item.Rate * 20;

                                switch (item.Rate)
                                {
                                    case 0:
                                        progressBarClass = "progress-bar-danger";
                                        break;
                                    case 1:
                                        progressBarClass = "progress-bar-danger";
                                        break;
                                    case 2:
                                        progressBarClass = "progress-bar-warning";
                                        break;
                                    case 3:
                                        progressBarClass = "progress-bar-warning";
                                        break;
                                    case 4:
                                        progressBarClass = "progress-bar-primary";
                                        break;
                                    case 5:
                                        progressBarClass = "progress-bar-success";
                                        break;
                                    default:
                                        progressBarClass = "progress-bar-dark";
                                        break;
                                }



                                if (item.HaveFactor)
                                {
                                    if (item.HaveFactorItem)
                                    {
                                        ChipType = "chip-success";
                                        ChipText = "تایید شده";
                                    }
                                    else
                                    {
                                        ChipType = "chip-danger";
                                        ChipText = "لغو شده";
                                    }
                                }
                                else
                                {
                                    ChipType = "chip-warning";
                                    ChipText = "در حال بررسی";
                                }




                                <tr>
                                    <td></td>
                                    <td class="product-img">
                                        <img onerror="imgError(this);" src="~/app-assets/images/Products/@imgName" alt="فاقد تصویر">
                                    </td>
                                    <td class="product-name">@item.name</td>
                                    <td class="product-category">@item.Brand</td>
                                    <td>




                                        <div class="progress @progressBarClass ">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@(ProgresPercent)" aria-valuemin="0" aria-valuemax="100" style="width:@(ProgresPercent)%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip @ChipType">
                                            <div class="chip-body">
                                                <div class="chip-text">@ChipText</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">@item.Qty</td>
                                    <td class="product-price">@item.Price</td>
                                    <td class="product-price">@item.TotalPrice</td>
                                    <td class="product-action">
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
                <!-- dataTable ends -->
                <!-- add new sidebar starts -->
                <div class="add-new-data-sidebar">
                    <div class="overlay-bg"></div>
                    <div class="add-new-data">
                        <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                            <div>
                                <h4 class="text-uppercase">Thumb View Data</h4>
                            </div>
                            <div class="hide-data-sidebar">
                                <i class="feather icon-x"></i>
                            </div>
                        </div>
                        <div class="data-items pb-3">
                            <div class="data-fields px-2 mt-3">
                                <div class="row">
                                    <div class="col-sm-12 data-field-col">
                                        <label for="data-name">Name</label>
                                        <input type="text" class="form-control" id="data-name">
                                    </div>
                                    <div class="col-sm-12 data-field-col">
                                        <label for="data-category"> Category </label>
                                        <select class="form-control" id="data-category">
                                            <option>Audio</option>
                                            <option>Computers</option>
                                            <option>Fitness</option>
                                            <option>Appliance</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 data-field-col">
                                        <label for="data-status">Order Status</label>
                                        <select class="form-control" id="data-status">
                                            <option>Pending</option>
                                            <option>Canceled</option>
                                            <option>Delivered</option>
                                            <option>On Hold</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 data-field-col">
                                        <label for="data-price">Price</label>
                                        <input type="text" class="form-control" id="data-price">
                                    </div>
                                    <div class="col-sm-12 data-field-col data-list-upload">
                                        <form action="#" class="dropzone dropzone-area" id="dataListUpload">
                                            <div class="dz-message">Upload Image</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
                            <div class="add-data-btn">
                                <button class="btn btn-primary">Add Data</button>
                            </div>
                            <div class="cancel-data-btn">
                                <button class="btn btn-outline-danger">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- add new sidebar ends -->
            </section>
            <!-- Data list view end -->

        </div>
    </div>
</div>
<!-- END: Content-->





@section Scripts{

    <script>
        function imgError(image) {
            console.log("SD");
            image.onerror = "";
            image.src = "/app-assets/images/NoImg.png";
            return true;
        };
    </script>
    <!-- BEGIN: Vendor JS-->
    <script src="~/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script src="~/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/app-assets/js/core/app-menu.js"></script>
    <script src="~/app-assets/js/core/app.js"></script>
    <script src="~/app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app-assets/js/scripts/ui/data-list-view.js"></script>
    <!-- END: Page JS-->
}