

@model BasketViewModel







<form action="#" class="icons-tab-steps checkout-tab-steps wizard-circle">
    <h6><i class="step-icon step feather icon-shopping-cart"></i>سبد خرید</h6>
    <fieldset class="checkout-step-1 px-0">
        <section id="place-order" class="list-view product-checkout">
            <div class="checkout-items">

                @foreach (var item in Model.Items)
                {
                    long Percent = 100 - (item.Price * 100 / item.ConsumerPrices);
                    string imgName = item.Code + ".jpg";
                    <div class="card ecommerce-card">
                        <div class="card-content">
                            <div class="item-img text-center">
                                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@(item.ID)">
                                    <img style="max-height:200px" class="img-fluid" src="~/app-assets/images/Products/@imgName" alt="تصویر موجود نمیباشد">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="item-name">
                                    <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@(item.ID)"> @item.GroupName   @item.Name  @item.BrandName    @item.Weight.ToString()</a>
                                    <span></span>
                                    <p class="item-company">نام تجاری : <span class="company-name">@item.BrandName </span></p>
                                    <p class="text">@item.Code</p>
                                    <p class="stock-status-in">مجاز برای خرید پرسنل</p>
                                </div>
                                @{
                                    bool IsMinValue;
                                    bool IsMaxValue;
                                    if (item.Qty <=1)
                                    {
                                        IsMinValue = true;
                                    }
                                    else
                                    {
                                        IsMinValue = false;
                                    }
                                    if (item.Qty >= item.MaxPerDayCount)
                                    {
                                        IsMaxValue = true;
                                    }
                                    else
                                    {
                                        IsMaxValue = false;
                                    }
                                }



                                <div class="item-quantity">
                                    <p class="quantity-title">تعداد (عدد)</p>
                                    <div class="input-group quantity-counter-wrapper">
                                        <input type="text"
                                               class="quantity-counter"
                                               id="@item.ID"
                                               max="@item.MaxPerDayCount"
                                               min="1"
                                               is-min-value="@IsMinValue"
                                               is-max-value="@IsMaxValue"
                                               value="@item.Qty" />

                                    </div>
                                </div>


                                @if (item.DayCount == 1)
                                {
                                    <p class="delivery-date">
                                        سقف سفارش روزانه  @item.MaxPerDayCount عدد
                                    </p>
                                }
                                else
                                {
                                    <p class="delivery-date">
                                        سقف سفارش به ازای هر @item.DayCount روز  @item.MaxPerDayCount  عدد
                                    </p>
                                }
                                <p class="offers">@Percent.ToString()  % تخفیف بر مبنای قیمت مصرف کننده</p>
                            </div>
                            <div class="item-options text-center">
                                <div class="item-wrapper">
                                    <div class="item-rating">
                                        <div class="badge badge-primary badge-md">
                                            @item.Rate
                                            <i class="feather icon-star ml-25"></i>
                                        </div>
                                    </div>
                                    <div class="item-cost">
                                        <h6 class="item-price">
                                            @String.Format("{0:n0}", item.Price) ریال
                                        </h6>

                                        @{if (item.HaveTax)
                                            {
                                                <p class="shipping">
                                                    <i class="feather icon-trending-up"></i> مشمول ارزش افزوده
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="shipping">
                                                    <i class="feather icon-trending-up"></i> فاقد ارزش افزوده
                                                </p>
                                            }
                                        }
                                     </div>
                                </div>
                                @if (item.IsFavorite)
                                {
                                    <div class="cart btn-primary wishlist added " id="@item.ID">
                                        <i class="fa fa-heart    mr-25"></i> علاقمندی ها
                                    </div>
                                }
                                @if (!item.IsFavorite)
                                {
                                    <div class="cart btn-primary wishlist " id="@item.ID">
                                        <i class="fa fa-heart-o mr-25"></i> علاقمندی ها
                                    </div>
                                }
                                <div class=" cart btn-danger text-white  remove" id="@item.ID">
                                    <i class="feather icon-x align-middle"></i> حذف از سبد
                                </div>
                            </div>
                        </div>
                    </div>
                }



            </div>
            <div class="checkout-options">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <p>  <span>@Model.Items.Count </span>  قلم </p>
                            <div class="coupons">
                                <div class="coupons-title">
                                    <p>شماره  <span>@Model.basket.ID </span>  </p>
                                </div>
                                <div class="apply-coupon">
                                    <p>به روز رسانی</p>
                                </div>
                            </div>
                            <hr>
                            <div class="price-details">
                                <p>جزئیات پرداخت</p>
                            </div>
                            <div class="detail">
                                <div class="detail-title">
                                   ارزش واقعی سبد
                                </div>
                                <div class="detail-amt">
                                    @String.Format("{0:n0}", Model.TotalConsumer) ریال
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-title">
                                    مبلغ برای شما
                                </div>
                                <div class="detail-amt discount-amt text-primary">
                                    @String.Format("{0:n0}", Model.Total ) ریال
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-title">
                                    تخفیف ویژه
                                </div>
                                <div class="detail-amt">
                                   0 ریال
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-title">
                                    ارزش افزوده
                                </div>
                                <div class="detail-amt emi-details text-danger">
                                    @String.Format("{0:n0}", Model.Tax) ریال
                                </div>
                            </div>
                            <div class="detail">
                                <div class="detail-title">
                                    سود شما
                                </div>
                                <div class="detail-amt discount-amt">
                                    @String.Format("{0:n0}", Model.TotalConsumer - (Model.Total +   Model.Tax)   ) ریال
                                </div>
                            </div>
                            <hr>
                            <div class="detail">
                                <div class="detail-title detail-total">مبلغ نهایی</div>
                                <div class="detail-amt total-amt">
                                    @String.Format("{0:n0}", Model.Total + Model.Tax) ریال
                                </div>
                            </div>
                            <div class="btn btn-primary btn-block place-order">تایید سفارش</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </fieldset>
    <h6><i class="step-icon step feather icon-home"></i>بازبینی مشخصات پرسنلی</h6>
    <fieldset class="checkout-step-2 px-0">
        <section id="checkout-address" class="list-view product-checkout">
            <div class="card">
                <div class="card-header flex-column align-items-start">
                    <h4 class="card-title"> مشخصات پرسنلی</h4>
                    <p class="text-muted mt-25">لطفا اطلاعات حساب خودرا بررسی و در صورت صحت ، تایید نمایید</p>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="customer.Name"></label>
                                    <input asp-for="customer.Name" class="form-control required" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="customer.Famil"></label>
                                    <input asp-for="customer.Famil"  class="form-control required" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="customer.Code_meli"></label>
                                    <input asp-for="customer.Code_meli"   class="form-control required" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="customer.Sh_Sh"></label>
                                    <input asp-for="customer.Sh_Sh"  class="form-control required" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="customer.CustomerCode"></label>
                                    <input asp-for="customer.CustomerCode" class="form-control required" readonly>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label asp-for="customer.CustomerTypeName"></label>
                                    <input asp-for="customer.CustomerTypeName" class="form-control required" readonly>
                                </div>
                            </div>
                            @*<div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="add-type"></label>
                                    <select class="form-control" id="add-type">
                                        <option>Home</option>
                                        <option>Work</option>
                                    </select>
                                </div>
                            </div>*@
                            @*<div class="col-sm-6 offset-md-6">
                                <div class="btn btn-primary delivery-address float-right">
                                    SAVE AND DELIVER HERE
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="customer-card">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@Model.customer.Name @Model.customer.Famil</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body actions">
                            <p><span asp-for="customer.DefaultCreditRls"> </span><label>:</label>@Model.customer.DefaultCreditRls</p>
                            <p><label asp-for="customer.FactorRls"> </label><span>:</span> @Model.customer.FactorRls</p>
                            <p><label asp-for="customer.OrderRls"> </label><span>:</span>@Model.customer.OrderRls</p>
                            <p><label asp-for="customer.AccountingRls"> </label><span>:</span>@Model.customer.AccountingRls</p>
                            <hr>
                            <div class="btn btn-primary btn-block delivery-address">تایید وادامه</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </fieldset>
    <h6><i class="step-icon step feather icon-credit-card"></i>تایید نهایی</h6>
    <fieldset class="checkout-step-3 px-0">
        <section id="checkout-payment" class="list-view product-checkout">
            <div class="payment-type">
                <div class="card">
                    <div class="card-header flex-column align-items-start">
                        <h4 class="card-title">Payment options</h4>
                        <p class="text-muted mt-25">Be sure to click on correct payment option</p>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="vs-radio-con vs-radio-primary">
                                    <input type="radio" name="vueradio" checked="" value="false">
                                    <span class="vs-radio">
                                        <span class="vs-radio--border"></span>
                                        <span class="vs-radio--circle"></span>
                                    </span>
                                    <img src="~/app-assets/images/pages/eCommerce/bank.png" alt="img-placeholder" height="40">
                                    <span>
                                        US Unlocked Debit Card 12XX XXXX XXXX 0000
                                    </span>
                                </div>
                                <div class="card-holder-name mt-75">
                                    John Doe
                                </div>
                                <div class="card-expiration-date mt-75">
                                    11/2020
                                </div>
                            </div>
                            <div class="customer-cvv mt-1">
                                <div class="form-inline">
                                    <label class="mb-50" for="card-holder-cvv">Enter CVV:</label>
                                    <input type="number" class="form-control ml-75 mb-50 input-cvv" id="card-holder-cvv">
                                    <div class="btn btn-primary btn-cvv ml-50 mb-50">Continue</div>
                                </div>
                            </div>
                            <hr class="my-2">
                            <ul class="other-payment-options list-unstyled">
                                <li>
                                    <div class="vs-radio-con vs-radio-primary py-25">
                                        <input type="radio" name="vueradio" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span>
                                            Credit / Debit / ATM Card
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="vs-radio-con vs-radio-primary py-25">
                                        <input type="radio" name="vueradio" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span>
                                            Net Banking
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="vs-radio-con vs-radio-primary py-25">
                                        <input type="radio" name="vueradio" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span>
                                            EMI (Easy Installment)
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="vs-radio-con vs-radio-primary py-25">
                                        <input type="radio" name="vueradio" value="false">
                                        <span class="vs-radio">
                                            <span class="vs-radio--border"></span>
                                            <span class="vs-radio--circle"></span>
                                        </span>
                                        <span>
                                            Cash On Delivery
                                        </span>
                                    </div>
                                </li>
                            </ul>
                            <hr>
                            <div class="gift-card">
                                <p>
                                    <i class="feather icon-plus-square mr-25 font-medium-5"></i>
                                    Add Gift Card
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="amount-payable checkout-options">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Price Details</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="detail">
                                <div class="details-title">
                                    Price of 3 items
                                </div>
                                <div class="detail-amt">
                                    <strong>$699.30</strong>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="details-title">
                                    Delivery Charges
                                </div>
                                <div class="detail-amt discount-amt">
                                    Free
                                </div>
                            </div>
                            <hr>
                            <div class="detail">
                                <div class="details-title">
                                    Amount Payable
                                </div>
                                <div class="detail-amt total-amt">$699.30</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </fieldset>

</form>